body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.box{
  width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 25 px;
    border-radius: 5px;
}
fieldset{
    border: 6px solid #228B22;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid #A9A9A9;
    outline: none;
    color: black;
    font-size: 12px;
    width: 100%;
}  
.labelInput{
    position: absolute;
    top:0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    color: #A9A9A9;
}  
.inputUser:focus ~ .labelInput {
    top: -15px;
    font-size: 12px;
    color: #228B22;
}
.has-val.inputUser ~ .labelInput {
    top: -15px;
    font-size: 12px;
    color: #228B22;
}
.focus-input::before {
  content: "";
  display: block;
  position: relative;
  top: -1px;
  left: 50%;
  width: 0px;
  height: 1px;
  background-color: #228B22;
  transition: all .5s;
}
.inputUser:focus ~ .focus-input::before {
  width: 100%;
  left: 0px;
}
.has-val.inputUser ~ .focus-input::before {
  width: 100%;
  left: 0px;
}
